.wrapper {
    background: url("https://gl.weburg.net/00/movies/3/10772/original/411538.jpg") no-repeat bottom fixed;
    background-size: cover;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    inset: 0;
    z-index: 3;
    background: url("https://i.redd.it/an-extended-look-at-avatar-frontiers-of-pandora-gameplay-v0-jn2iddb27a6b1.jpg?width=7489&format=pjpg&auto=webp&s=185ae2da6dcf7defc805d17d505d93e31f02da4b") rgba(50, 50, 50, 0.47) no-repeat;
    border-bottom: 5px;
    box-shadow: 0 0 15px 5px rgba(152, 152, 152, 0.7);
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gmail_input {
    margin-top: 10px;
    background: rgba(37, 37, 37, 0.62);
    width: 100%;
}

.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}

#phone_input {
    background: rgba(37, 37, 37, 0.62);
    width: 100%;
    margin-top: 10px;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

.media_block1 {
    position: relative;
    width: 1680px;
    height: auto;
    padding: 120px;
}

.inner_media_avatar1 {
    position: relative;
    width: 1440px;
    height: 808px;
    margin: 100px auto;
}

#media_avatar1 {
    width: 100%;
    height: 100%;
}

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.logotype img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner_main h1 {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.88);
    text-shadow: rgba(0, 187, 255, 0.84) 0  0 10px;
}

#js-color {
    text-shadow: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.menu_link a {
    color: #3586ef;
    text-shadow: rgba(5, 199, 255, 0.73) 0 0 5px;
    text-transform: uppercase;
}

.main_block {
    padding: 100px 0;
    width: auto;
    height: auto;
    background-size: cover;
}

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

#btn-get {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSmVALt-bSK--FS830v3ciGyT82wfgmBmJgzhrrN3xSi4wj9-TVEiBQBjzqYbFtT1Y0OA&usqp=CAU") no-repeat center center;
    background-size: cover;
    border: 1px solid rgba(0, 16, 96, 0.6);
}

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}

.slider_block {
    padding: 100px 0;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 3px solid var(--orange);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    backdrop-filter: blur(10px);
}

.slide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: white;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.slide_card h3 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

.slide_card p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

.slide_card a {
    color: var(--orange);
    text-decoration: underline;
}

.slide.active_slide {
    display: block;
}

.inner_block_video1 {
    margin-top: 50px;
    width: 1440px;
    position: relative;
    right: 115px;
    display: flex;
    justify-content: space-around;
}

#trailer_avatar1 {
    width: 1024px;
    height: 500px;
}

.trailer_text1 {
    color: white;
    width: 500px;
    height: 500px;
    margin-left: 20px;
    font-size: 30px;
}

.inner_media_avatar1 h3 {
    color: white;
    font-size: 35px;
    margin: 50px;
}

#gmail_input {
    margin-top: 10px;
    background: rgba(37, 37, 37, 0.62);
    width: 100%;
}

.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}


.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background: linear-gradient(-45deg, rgba(5, 24, 39, 0.64), rgba(51, 53, 182, 0.38));
    border: 3px solid #23acd6;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-22deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes animatebowlshadow {
    0% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    25% {
        left: 55%;
        width: 140px;
        height: 65px;
    }
    50% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    75% {
        left: 45%;
        width: 140px;
        height: 65px;
    }
    100% {


    }
}

.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite;
    animation-play-state: running;
}

@keyframes animateliquid {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-22deg);
    }
    30% {
        transform: rotate(-23deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(22deg);
    }
    80% {
        transform: rotate(23deg);
    }
    100% {
        transform: rotate(0deg);
    }


}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
    animation-play-state: running;

}

@keyframes animateshadow {
    0% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    25% {
        left: 55%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    50% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }
    75% {
        left: 45%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    100% {
    }
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.mirf.ru/backend/wp-content/uploads/2023/12/f5f043c4403fa2f6f7aa7ac16d42e3ab.png")no-repeat bottom;
    background-size: cover;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 230px;
    border-top: 5px solid rgba(97, 97, 97, 0.5);
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer img {
    width: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__inner {
    margin-top: 20px;
}

.footer__inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer__inner ul li {
    margin: 0 15px;
}

.footer__inner ul li a {
    text-decoration: none;
    color: #8ec9ea;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer__inner ul li a:hover {
    color: #00bcd4;
}

.footer__inner ul li a:active {
    color: #ff5722;
}

.footer .footer-bottom {
    margin-top: 40px;
    font-size: 14px;
    color: #bbb;
}

.footer .footer-bottom a {
    color: #bbb;
    text-decoration: none;
}

.footer .footer-bottom a:hover {
    color: white;
}

